header {
    color: white;
    background-color: #c05E05;
    text-align: center;
}

.my-bg {
    min-height: 200px;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    border: 2px solid #000;
}

.t-about {
    font-size: 0.7rem;
}

.t-line {
    text-decoration: none;
}

.subtitle {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    font-weight: bold;
}